<!DOCTYPE html>
<!-- Welcome toast template -->
<md-toast>
	<div class="md-toast-content login-toast-opacity">
		<md-list class="fixedRows">
	      <md-list-item class="md-2-line contact-item">
	        <img ng-src="/public/src/com/global/css/images/user/teacher.png" class="md-avatar" alt="USER" />
	        <div class="md-list-item-text compact">
	          <h3><strong style="color:white">Admin</strong></h3>
	          <p style="color:white">Welcome</p>
	        </div>
	      </md-list-item>
	    </md-list>
	</div>
</md-toast>