<!DOCTYPE html>
<section layout="column" flex>
	<article layout="column" flex class="parentView min-height500" layout-align="center center">
		<md-card md-theme="default" md-theme-watch class="login-card">
			<!-- Login Card Title -->
			<md-card-title>
		        <md-card-title-media class="marginLft5prcnt">
		            <div class="md-media-md card-media">
		            	<img ng-src="public/src/com/global/css/images/atomix_user31.png"/>
		            </div>
		        </md-card-title-media>
		    	<md-card-title-text flex layout-align="center center">
		            <!-- <span class="md-headline">Login</span> -->
		            <span class="md-headline">Enter login credentials</span>
		        </md-card-title-text>
			</md-card-title>
			<!-- Login Card Title ends here -->
			
			<!-- Login Card Main begins here -->
			<md-card-content layout="column" class="marginLft10prcnt marginRgt10prcnt">
				<div layout-sm="column" layout="row" flex>
					<md-input-container flex="50">
						<label>Firstname</label>
						<input ng-model="vm.user.firstName">
					</md-input-container>
					<md-input-container flex="50">
						<label>Lastname</label>
						<input ng-model="vm.user.lastName">
					</md-input-container>
				</div>
				<div layout-sm="column" layout="row" flex>
					<md-input-container flex>
						<label>Email</label>
						<input type="email" ng-attr-placeholder="abc@xyz.com" ng-model="vm.user.email">
					</md-input-container>
				</div>
				<div layout-sm="column" layout="row" flex>
					<md-input-container flex="50">
						<label>Password</label>
						<input required ng-attr-type="{{vm.showPassword?'input':'password'}}" ng-model="vm.user.password">
					</md-input-container>
					<md-input-container flex="50">
						<label>Confirm Password</label>
						<input required ng-attr-type="{{vm.showPassword?'input':'password'}}" ng-model="vm.user.dummypassword">
					</md-input-container>					
				</div>
				
				<md-checkbox layout="row" flex ng-model="vm.showPassword" aria-label="Show Password">
	            	Show Password
	          	</md-checkbox>
			</md-card-content>
			<!-- Login Card main ends here -->
			
			<!-- Login Card action buttons begin here -->
			<md-card-footer>
			    <md-card-actions layout="row" layout-align="center center">
			        <md-button class="md-raised md-primary" ui-sref="main.login">Save</md-button>
			    </md-card-actions>
			</md-card-footer>

		    <!-- Login Card action buttons end here -->
		</md-card>
	</article>
</section>